*{
    padding: 0;
    margin: 0;
    
}
body{
    background-image: url(/images/contactimg.jpg);
   
   background-repeat: no-repeat;
   background-size: cover ;
   
}
header{
    background-color:rgb(255, 214, 245);
    height: 7em;
}
/* nav buttons */
.image_icon{
    width: 60%;
}
.navigation{
    float: right;
    margin-top: 2em;
    /* margin-right: 12em; */
    /* margin-bottom: 2em; */
    margin-left: 100em;
}


    

.form-cont{
    border: 5px solid rgb(3, 44, 8);
    margin-top: 7em;
    margin-left: 34em;
    width: 20%;
    height: 50em;
    padding: 5em;
    margin-right: 9em;
    padding-left: 3em;
}
.form-cont h1{
    text-align: center;
    color: rgb(66, 4, 4);
    font-size: 4em;
    margin-left: .16em;
}
.form-cont label{
    color: rgb(75, 6, 6);
    font-size: large;
    text-transform: uppercase;
    font-weight: 300;
}
.form-cont em{
    color: red;
}
.form-cont input{
    background-color: blanchedalmond;
    border: 1px solid rgb(216, 103, 103);
    width: 50%;
    height: 2em;
}
.form-cont #fname{
    width: 30%;
}
#num{
    width: 23%;
}
#num1{
    width: 14.5em;
}
#mail{
    width: 15.3em;
    
}
#addr{
    width: 13.34em;
}
#addr1{
    width: 13.4em;
}
#city{
    width: 13.5em;
}
#state{
    width: 13.5em;
}
#pin{
    width: 13.5em;
}
#msg{
    width: 13.7em;
    height: 10%;
}
#sub{
    width: 7em;
    height: 3em;
    background-color: green;
    color: white;
    font-size: large;
}