*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/images/blur2_img.jpg);
    background-size: cover;
}
header{
    background-color: rgb(255, 214, 245);
    height: 7em;
}
/* nav buttons */
.image_icon{
    width: 50%;
}
.navigation{
    float: right;
    margin-top: 2em;
   
    margin-left: 100em;
}




.head3{
    
    margin-left: 45em;
    
    margin-top: 3em;
    height: 22em;
    
    width: 22%;
    
}
.head3 h1{
    
    color: rgb(102, 8, 71);
    font-size: 4.6em;
}
.listing1{
    color: rgb(133, 8, 122);
    font-size: 2.5em;
    padding-left:1em;
    /* list-style-image: linear-gradient(to left bottom, red, blue); */
}
ul{
    list-style: none;
}
ul li::before{
    content: "📌";
}